.right-menu {
    position: fixed;
top: 51px;

  left: 50%;

  transform: translateX(-50%) scale(0.9);

  width: 98%;
  height: 90%;

 max-width: 420px;
  max-height: 650px;

  background: #111;
  border: 1px solid #00ffb3;
  border-radius: 8px;

  z-index: 999999;

  display: flex;
  flex-direction: column;

  opacity: 0;
  visibility: hidden;
-webkit-app-region: no-drag;
  transition: 0.25s ease;
}
.right-menu::before {
  content: "";
  position: absolute;
  z-index: 1;
  top: auto;
  left: 0;
  width: 100%;
  height: 20px;
  border-radius: 8px 8px 0px 0px;
  background: linear-gradient(to right, transparent, #00ffb3, transparent);
  overflow: hidden;
  box-shadow: 0 0 3px #00ffb3;
}


/* OPEN */
.right-menu.open {
  opacity: 1;
  visibility: visible;

  transform: translateX(-50%) scale(1);
}


.right-menu-bg{
 background: #000;
  
}
/* HEADER */
.right-header {
     position: relative;
  height: 20px;
  display: flex;
   justify-content: flex-end;
  align-items: center;

  padding: 0 10px;
  font-size: 10px;
   
-webkit-app-region: no-drag;

}
.jbRightTital {
 position: absolute;
  left: 50%;
  transform: translateX(-50%);
     font-size: 9px;
    font-weight: bolder;
    color: #076d4b;
  z-index: 99999;
  white-space: nowrap;
  
}

/* CLOSE BUTTON */
.right-close {
  width: 12px;
  height: 12px;
  background: #ff3b3b;
  border-radius: 50%;
  cursor: pointer;
  z-index: 100000;
}

/* BODY */
.right-body {
 flex: 1;
  padding: 10px;
  color: #ccc;
  font-size: 10px;
}



/* 🔴 RED ROUND CLOSE */
.right-close {
  width: 12px;
  height: 12px;
  background: #ff3b3b;
  border-radius: 50%;
  cursor: pointer;

  box-shadow: 0 0 6px rgba(255, 59, 59, 0.6);
  transition: 0.2s;
}

/* hover effect */
.right-close:hover {
  transform: scale(1.2);
  box-shadow: 0 0 10px rgba(255, 59, 59, 0.9);
}
/* =========================
   END OF RIGHT SIDE panal */

   /*download panal*/
   /* =========================
   DOWNLOAD BUTTON (YELLOW)
========================= */
.download-btn {
  margin-top: 5px;
  padding: 6px;
  font-size: 10px;
  text-align: center;

  background: #2b2b00;
  color: #ffd400;

  border: 1px solid #ffd400;
  border-radius: 6px;

  cursor: pointer;
  transition: 0.2s;
  -webkit-app-region: no-drag;
}

.download-btn:hover {
  background: #ffd400;
  color: #000;

  box-shadow: 0 0 8px rgba(255, 212, 0, 0.7);
}
/* =========================
   DOWNLOAD panel END */

   /*clacultor  start*/
/* ROOT WRAPPER */
.jbcalc {
  position: absolute;
width: 98%;
  font-family: Arial;
  color: #00ffb3;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* PANEL */
.jbcalc-panel {
  background: #111;
  border: 1px solid #333;
  padding: 6px;
  border-radius: 6px;
  box-shadow: 0 0 10px rgba(0, 255, 179, 0.08);
}

/* HIGHLIGHT */
.jbcalc-highlight {
  border: 1px solid #ffd400;
  color: #ffd400;
  box-shadow: 0 0 12px rgba(255, 212, 0, 0.15);
}

/* GRID */
.jbcalc-input-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 8px;
}

/* INPUT */
.jbcalc input,
.jbcalc select {
  width: 100%;
  padding: 8px;
  background: #000;
  border: 1px solid #333;
  color: #00ffb3;
  font-size: 10px;
  box-sizing: border-box;
}

/* GOLD MODE */
.jbcalc select.gold-mode {
  border-color: #ffd400;
  color: #ffd400;
}

/* HEADINGS */
.jbcalc h3 {
  margin: 0;
  font-size: 11px;
  color: #00ff62;
  text-transform: uppercase;
}

/* SELL COLOR */
.jbcalc-sell {
  color: #ffd400;
}

/* TEXT */
.jbcalc-panel div {
  margin: 3px 0;
  font-size: 11px;
}

/* ROW */
.jbcalc-row {
  display: flex;
  gap: 8px;
  margin-top: 6px;
}

.jbcalc-row .jbcalc-panel {
  flex: 1;
}

/* ENTRY TEXT */
.jbcalc-entry {
  color: yellow;
  font-size: 9px;
  font-weight: 600;
}

/* SUB TEXT */
.jbcalc-sub {
  color: wheat;
}

/* FOOTER */
.jbcalc-name {
  display: flex;
  justify-content: flex-end;
  flex: 1;
}

.jbcalc h5 {
  font-size: 9px;
  color: #ffd400;
  font-style: italic;
  margin: 0;
}

/* BUTTON */
.jbcalc-btn {
  background: #493d02;
  padding: 2px 4px;
  border-radius: 2px;
  font-size: 9px;
  font-weight: bold;
  color: #f5e17c;
  text-decoration: none;
  cursor: pointer;
}

.jbcalc-atag {
  flex: 1;
}

/* ACCENT */
.jbcalc-accent {
  color: yellow;
}

/* CALCULATOR END */
/*blur bg when side menu open*/
/* BACKDROP */
.jbcalc-backdrop {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);

  opacity: 0;
  visibility: hidden;
  transition: 0.2s ease;
  z-index: 999;
}

/* ACTIVE STATE */
.jbcalc-backdrop.active {
  opacity: 1;
  visibility: visible;
}
/*blur bg when side menu open end*/
/* GLOBAL BACKDROP */
.app-backdrop {
  position: fixed;
  inset: 0;
 

  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);

  opacity: 0;
  visibility: hidden;
  transition: 0.2s ease;

   z-index: 99998;
}

/* ACTIVE STATE */
.app-backdrop.active {
  opacity: 1;
  visibility: visible;
}

.modal,
.right-menu,
.side-menu {
  z-index: 100000;
}

/*support start*/
.copy-icon {
  margin-left: 6px;
  cursor: pointer;
  font-size: 12px;
  color: #00ffb3;
  transition: 0.2s;
  display: inline-block;
}

.copy-icon:hover {
  transform: scale(1.2);
  color: yellow;
}
.cursor-toast {
  position: fixed;
  pointer-events: none;

  background: #00ffb3;
  color: #000;
  font-size: 9px;

  padding: 2px 4px;
  border-radius: 5px;

  opacity: 0;
  transform: translate(-50%, -120%);

  transition: 0.2s ease;
  z-index: 999999;
}

.cursor-toast.show {
  opacity: 1;
  transform: translate(-50%, -140%);
}
/*support end*/

/*feedback start*/
.contact-title{
  color: #00ffb3;
  font-size: 11px;
}
.contact-desc {
  font-size: 9px;
  color: #fff;
  margin-top: 3px;
  line-height: 1.4;
}
.contact-item{
  font-size: 9px;
  color: #00ffb3;
  text-decoration: none;
  margin: 5px 0px;
  
}


.fb-btn {
  margin-top: 5px;
  padding: 2px 3px;
  font-size: 8px;
  text-align: center;

  background: #001a2b;
  color: #00c3ff;

  border: 1px solid #00c3ff;
  border-radius: 6px;
text-decoration: none;
  cursor: pointer;
  transition: 0.2s;
}

.fb-btn:hover {
  background: #00c3ff;
  color: #000;

  box-shadow: 0 0 8px rgba(0, 195, 255, 0.7);
}



/*feedback end*/

/*live price toggle start*/

/* container */

/* container */
.jb-live-box {
  display: flex;
  align-items: center;
  gap: 2px;
  margin-top: 2px;
}

/* label */
.jb-live-label {
  font-size: 8px;
  color: #00ffb3;
  font-weight: bold;
}

/* toggle */
.jb-toggle {
  width: 35px;
  height: 15px;
  background: #111;
  border: 1px solid #333;
  border-radius: 20px;
  position: relative;
  cursor: pointer;
  transition: 0.2s;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 6px;
  box-shadow: 0 0 3px rgba(0,255,179,0.1);
}

/* knob */
.jb-toggle-knob {
  width: 12px;
  height: 12px;
  background: #555;
  border-radius: 50%;
  position: absolute;
  top: 1px;
  left: 3px;
  transition: 0.2s;
  z-index: 2;
  padding:0px;
  margin: 0px!important;
}

/* ON/OFF text */
.jb-toggle-text {
  font-size: 6px;
  font-weight: bold;
  z-index: 1;
}

.jb-toggle-text.off {
  color: #ff3b3b;
}

.jb-toggle-text.on {
  color: #555;
}

/* ACTIVE STATE */
.jb-toggle.active {
  border-color: #00ffb3;
  box-shadow: 0 0 3px rgba(0,255,179,0.4);
}

/* knob move */
.jb-toggle.active .jb-toggle-knob {
  left: 18px;
  background: #00ffb3;
}

/* ON/OFF color swap */
.jb-toggle.active .off {
  color: #555;
}

.jb-toggle.active .on {
  color: #00ffb3;
}


/* network status */
.jb-net-status {
  font-size: 8px;
  font-weight: bold;
  margin-left: 2px;
  padding: 2px 4px;
  border-radius: 4px;
  border: 1px solid #333;
}

/* ONLINE */
.jb-net-online {
  color: #00ff55;
  border-color: #00ff55;
  box-shadow: 0 0 6px rgba(0, 255, 0, 0.2);
}

/* OFFLINE */
.jb-net-offline {
  color: #ff3b3b;
  border-color: #ff3b3b;
  box-shadow: 0 0 6px rgba(255,59,59,0.2);
}
/*live price toggle end*/

/*input label*/

.jbcalc-label {
  font-size: 9px;
  color: #ffd400;
  margin-bottom: 3px;
  margin-left: 3px;
  display: block;
  font-weight: bold;
  letter-spacing: 0.5px;
}

.jbclass-margin {
  margin:0px!important;
}
/*input label end*/
/*TRADE SUMMARY PANELS */
.jbcalc-summary {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.jbcalc-summary-left,
.jbcalc-summary-right {
  flex: 1;
}